<style>
    td {
        padding: 10px;
        border: 1px solid black;
        width: 25%;
    }
    tr {
        margin: 0;
    }
    th {
        cursor: pointer;
    }

</style>


<input type="text" ng-model="nameFilter" placeholder="Поиск по имени,номеру, адресу">


<table>
    <tr>
        <th ng-click="predicate = 'name'; reverse=!reverse">Name</th>
        <th ng-click="predicate = 'number'; reverse=!reverse">phone number</th>
        <th>address</th>
    </tr>

    <tr ng-repeat="person in person| filter:nameFilter | orderBy:predicate:reverse track by $index">
        <td>
            <span ng-if="!isEditing[$index]"  >
                {{person.name}}
            </span>
            <input ng-if="isEditing[$index]" type="text" ng-model="person.name" />
        </td>

        <td>
            <span ng-if="!isEditing[$index]" >
                {{person.number}}
            </span>
            <input  ng-if="isEditing[$index]" type="text" ng-model="person.number"/>

        </td>
        <td> <span ng-if="!isEditing[$index]" >
                {{person.address}}
            </span>
            <input  ng-if="isEditing[$index]" type="text" ng-model="person.address"/>

        </td>
        <td>
            <a href="/person/{{$index}}">Просмотреть</a>
            <button ng-click="removeTag(person)">Remove</button>
            <button ng-click="editPerson($index)" id="">Редактировать</button>
        </td>
    </tr>
    <!--<tr ng-repeat="person in persons| filter:nameFilter | orderBy:predicate:reverse track by $index">-->
    <!--<td>-->
    <!--<span ng-if="!isEditingName[$index]" ng-click="isEditingName[$index]=!isEditingName[$index]">-->
    <!--{{person.name}}-->
    <!--</span>-->
    <!--<input my-enter="isEditingName[$index]=!isEditingName[$index]" ng-if="isEditingName[$index]" type="text" ng-model="person.name"/>-->
    <!--</td>-->

    <!--<td>-->
    <!--<span ng-if="!isEditingNumber[$index]" ng-click="isEditingNumber[$index]=!isEditingNumber[$index]">-->
    <!--{{person.number}}-->
    <!--</span>-->
    <!--<input my-enter="isEditingNumber[$index]=!isEditingNumber[$index]" ng-if="isEditingNumber[$index]" type="text" ng-model="person.number"/>-->

    <!--</td>-->
    <!--<td> <span ng-if="!isEditingAddress[$index]" ng-click="isEditingAddress[$index]=!isEditingAddress[$index]">-->
    <!--{{person.address}}-->
    <!--</span>-->
    <!--<input my-enter="isEditingAddress[$index]=!isEditingAddress[$index]" ng-if="isEditingAddress[$index]" type="text" ng-model="person.address"/>-->

    <!--</td>-->
    <!--<td>-->
    <!--<button ng-click="removeTag(person)">Remove</button>-->
    <!--<button ng-click="">Редактировать</button>-->
    <!--</td>-->
    <!--</tr>-->

</table>


<form ng-submit="addTag()">
    <input type="text" ng-model="personName" placeholder="Имя">
    <input type="text" ng-model="personNumber" placeholder="Номер">
    <input type="text" ng-model="personAddress" placeholder=" Адрес">
    <input type="submit" value="Добавить">
</form>