<span>Имя: {{newPersons[personid].name }} </span><br>
<span>Номер: {{newPersons[personid].number}} </span><br>
<span>Место жительства: {{newPersons[personid].address}} </span>
<p>Биография: {{persons[newPersonid].biography}} </p>
